[submodule "ECRad_core"]
	path = ECRad_core
	url = git@github.com:AreWeDreaming/ECRad_core.git
	branch = master
[submodule "ECRad_PyLib"]
	path = ECRad_PyLib
	url = git@github.com:AreWeDreaming/ECRad_PyLib.git
	branch = master
[submodule "ECRad_GUI"]
	path = ECRad_GUI
	url = git@github.com:AreWeDreaming/ECRad_GUI.git
	branch = master
